<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
        <th th:text="${c1}"></th>
        <th th:text="${c2}"></th>
        <th th:text="${c3}"></th>
        <th th:text="${c4}"></th>
        <th th:text="${c5}"></th>
        <th> Date </th>
    </thead>

    <tbody>
        <tr th:each="i : ${transaction}">
            <form action="/deleteTransaction" method="post">
                <td><input type="text" th:value="${hotelId}" name="hotelId"></td>
                <td><input type="text" th:value="${i.serialNumber}" name="serialNumber" readonly> </td>
                <td><input type="text" th:value="${i.transaction}" name="transaction" ></td>
                <td><input type="text" th:value="${i.date}" name="startingDate"></td>
                <td><input type="submit" value="Update"></td>
            </form>
        </tr>
    </tbody>

</table>

</body>
</html>