<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div align="center">
        <form method="post" action="/managerLoginVerification" >
        <input type="text" placeholder="Hotel ID" name="hotelId">
            <br>
        <input type="password" placeholder="Password" name="passwd">
            <br>
            <input type="submit" value="Login">
        </form>
    </div>

    <br>
    <!--This is for alert if username or password is incorrect-->
    <div th:text="${invalid}" align="center" th:size="20px"></div>
    <!--This is for alert if manager Registers Successfully-->
    <div th:text="${success}" align="center" th:size="20px"></div>

<!--localhost:8080.managerVerify
-->
</body>
</html>