<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add user</title>
    <meta charset="UTF-8">
</head>
<body>

<h1 align="center">Registrator User </h1>

<form action="/dashboard" method="post">
    <div align="center">

       <select >
           <option value="manager">Manager</option>
           <option value="collector" >Collector</option>
           <option value="approval">Approval</option>
       </select>
        <br><br>

    <input type="text" placeholder="User Name" name="uname">
        <br>
     <input type="password" placeholder="Password" name="passwd">
        <br>
    <input type="submit" value="Submit">
    </div>
</form>

</body>
</html>