<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2 align="center">Registor Here</h2>

    <div align="center">
    <form method="post" action="/register">
        <select name="role">
            <option value="manager">Manager</option>
            <option value="collector">Collector</option>
            <option value="approver">Approver</option>
        </select>
        <br>
        <input type="text" placeholder="User Name" name="uname">
        <br>
        <input type="text" placeholder="First Name" name="fname">
        <br><br>
        <input type="text" placeholder="Last Name" name="lname">
        <br><br>
        <input type="text" placeholder="Email" name="email">
        <br><br>
        <input type="text" placeholder="Contact Number" name="cnumber">
        <br><br>
        <input type="text" placeholder="Password" name="passwd">
        <br><br>
        <input type="text" placeholder="Retype Password" name="verpasswd">
        <br><br>
        <select>
            <option>North</option>
            <option>South</option>
            <option>East</option>
            <option>West</option>
        </select>
        <br>
        <input type="submit" placeholder="Submit">

    </form>
    </div>

</body>
</html>