<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>
    <div align="center">
        <form method="post" action="/managerLoginVerification" >
            <input type="text" placeholder="Collector ID" name="collectorId">
            <br>
            <input type="password" placeholder="Password" name="passwd">
            <br>
            <input type="submit" value="Login">
        </form>
    </div>
</body>

</html>